# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/
.vercel/
build/

# Logs
*.log

# Test coverage
coverage/

# Env vars
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Vercel preview info (criado localmente em alguns builds)
.vercel/.previewinfo

# Ignorar telas de login e register
pages/login.js
pages/register.js

